/* Archivo Externo CSS alojado en servidor en carpeta "public" ubicada en la raíz, declarada como pública en el backend . */

body {
  margin: 0;
  height: 100vh;
  /* Establece la imagen de fondo */
  background-image: url("/img/black-white-background.jpg");

  /* Ajusta el tamaño y el posicionamiento de la imagen */
    background-repeat: no-repeat;
    background-position: center; /* Para centrar la imagen */
    background-size: cover; /* Para cubrir el fondo completo */
}
