body {
  /* Establece la imagen de fondo */
  background-image: url("/img/black-white-background.jpg");

  /* Ajusta el tamaño y el posicionamiento de la imagen */
  background-size: cover; /* Para cubrir el fondo completo */
  background-position: center; /* Para centrar la imagen */
}
